<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
        <add name="PyPIFlaskHandler"
             path="*"
             verb="*"
             modules="FastCgiModule"
             scriptProcessor="D:\wwwroot\pypi\.venv\Scripts\python.exe|D:\wwwroot\pypi\.venv\Lib\site-packages\wfastcgi.py"
             resourceType="Unspecified"
             requireAccess="Script" />
        </handlers>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="200000000" />
            </requestFiltering>
        </security>
    </system.webServer>

    <appSettings>
    <add key="WSGI_HANDLER" value="pypi.create_app()" />
    <add key="PYTHONPATH" value="D:\wwwroot\pypi" />
    <add key="SCRIPT_NAME" value="/pypi" />

    <add key="FLASK_APP_SETTINGS" value="pypi.config.DevelopmentConfig" />
    <add key="WSGI_LOG" value="D:\wwwroot\pypi\logs\wsgi.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />

    </appSettings>
</configuration>
